<!doctype html>
{% load pipeline %}

<html lang='en'>
  <head>
    <title>Klios</title>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css' rel='stylesheet'>
    {% stylesheet 'main' %}
  </head>
  <body>
    <div class='content'>
      {% block content %}
      {% endblock content %}
    </div>
    <script src='//code.jquery.com/jquery-2.1.3.min.js'></script>
    <script src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js'></script>
    <script src='/static/js.js'></script>
  </body>
</html>
