{% load card_faces %}

<div class='card card-full-info panel panel-default'>
  <div class='panel-heading'>Card: {{ card_info.card.pk }}</div>
  <div class='panel-body'>
    {% card_front card_info.card %}
    {% card_back card_info.card %}
    <div class='card panel panel-default'>
      <div class='panel-body'>
        <div class='row text-center'>
          <div class='col-sm-4'>
            Answers: {{ card_info.n_answers }}
          </div>
          <div class='col-sm-4'>
            Correct: {{ card_info.n_correct }}
          </div>
          <div class='col-sm-4'>
            Wrong: {{ card_info.n_wrong }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
