{% extends 'cards/base.html' %}
{% load card_faces %}

{% block content %}
  {% card_front card %}

  <form action='{% url 'cards:rate' %}' method='post' id='check-form'>
    {% csrf_token %}
    {{ form.as_p }}
    <button class='btn btn-primary btn-block submit'>Submit</button>
  </form>
{% endblock content %}
