{% extends 'cards/base.html' %}
{% load card_faces %}

{% block content %}
  {% card_front card %}
  {% card_back card %}

  {% if form.answer.value %}
    <div class='panel panel-default'>
      <div class='panel-heading'>Your answer</div>
      <div class='panel-body'>
        {{ form.answer.value }}
      </div>
    </div>
  {% endif %}

  <form action='{% url 'cards:finish' %}' method='post' id='rate-form'>
    {% csrf_token %}
    {{ score_form.as_p }}
      <div class='row'>
        <div class='col-sm-6'>
          <button type='button' class='incorrect btn btn-danger btn-block'>Incorrect</button>
        </div>
        <div class='col-sm-6'>
          <button type='button' class='correct btn btn-success btn-block'>Correct</button>
        </div>
      </div>
  </form>
{% endblock content %}
