{% extends 'cards/base.html' %}

{% block content %}
  <div class='card-front panel panel-default'>
    <div class='panel-body'>
      {{ card.content.front|safe }}
    </div>
  </div>

  <div class='card-front panel panel-success'>
    <div class='panel-heading'>Correct answer</div>
    <div class='panel-body'>
      <p>{{ card.content.back|safe }}</p>
    </div>
  </div>

  {% if form.answer.value %}
    <div class='panel panel-default'>
      <div class='panel-heading'>Your answer</div>
      <div class='panel-body'>
        <p>{{ form.answer.value }}</p>
      </div>
    </div>
  {% endif %}

  <form action='{% url 'cards:finish' %}' method='post'>
    {% csrf_token %}
    {{ score_form.as_p }}
    <button>Submit</button>
  </form>
{% endblock content %}
