@import 'compass';

body {
  width: 600px;
  margin: 0 auto;
}

code {
  background: #f9f9f9;
  color: inherit;
  font-family: monospace;
}

.content {
  label[for='id_answer'] {
    display: none;
  }
  #id_answer {
    width: 100%;
    border: 1px solid #ddd;
  }
  .card-front {
    margin: 20px 0 15px;
  }
  .card-front, .card-back {
    .panel-body {
      font-size: 16px;
    }
    .panel-body > p:last-child,
    .panel-body > pre:last-child {
      margin-bottom: 0;
    }
  }
}
