@import 'compass';

$card-separation: 15px;

body {
  width: 600px;
  margin: 0 auto;
}

code {
  background: #f9f9f9;
  color: inherit;
  font-family: monospace;
}

.content {
  margin-top: 30px;
  label[for='id_answer'] {
    display: none;
  }
  #id_answer {
    width: 100%;
    border: 1px solid #ddd;
  }
  .card {
    margin: 0 0 $card-separation 0;
    .panel-body {
      font-size: 16px;
    }
    .panel-body > p:last-child,
    .panel-body > pre:last-child {
      margin-bottom: 0;
    }
  }
  .card-full-info .card:last-child {
    margin-bottom: 0
  }
}
